*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    border: 2px black solid;
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 100px auto;
    padding: 20px;
    gap: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.top-part{
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
}

h2{
    font-weight: lighter;
}

.top-part div{
    display: flex;
    gap: 20px;
    align-items: center;
}

button{
    background-color: #fed966;
    border: 2px black solid;
    font-size: 1em;
    box-shadow: 2px 2px black;
    padding: 5px 10px;
}

